
html {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  } 

body{
  font: 100% Lato, sans-serif;
  color: #FFFFFF;
  box-sizing: border-box;
  z-index: 0;
}

header{
	height: 80px;
}

 .center_page{
 width: 940px; 
 margin: 0 auto;
 position:relative;
} 

.logo{
  width: 185px;
  height: 62px;
  float: left;
}

.login{
  display: inline-block;
  text-decoration: none;
  color:#585951;
  border-left: 1px solid #585951;
  padding-left: 10px;
  font-size: 15px;
}

/*  .login.before{
content: url(../images/line.png);
} */

.login:hover{
  color: #3399CC;
  text-decoration: underline;
}

.lang {
margin: 10px;
position: absolute;
right: 0;
}

.head_nav{
display: inline-block;
width: 750px;
margin-top:30px;
margin-left: 0;
}

nav{
display: inline-block;
width: 500px;
margin-left: 0;
}

nav ul{
  padding:0;
  padding-left: 30px;
}

nav > ul > li {
  float:left;
  padding: 10px;
  border-left: 1px solid #585951;
}

.links a{
  text-decoration: none;
  color:#585951;
  font-size: 14px;
  text-transform:capitalize;
  display:block;
  line-height: 2em;
  margin-left: 20px;
  margin-right: 45px;
}

nav >ul >li >a{
  text-decoration: none;
  color:#585951;
  text-transform: uppercase;
  font-size: 12px;
  display:block;
}

nav li:first-child{
  border: 0;
}

nav li a:hover{
  color: #3399CC;
}

li{
  list-style: none;
  padding-left: none;
}

.links > ul  {
  float:left;
  padding: 10px;
}

 .links img{
  float:right;
  display:block;
}
.links{
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background:white;
  z-index: 20;
}

li:hover > .links {
  display: block;
}

.search_box{
  width: 175px;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  border: 1px solid #d0d0d0;
  bottom: 10px;
  right: 0px;
}

.search_button{
  width: 26px;
  height: 18px;
  background: url(../images/search_button.png) no-repeat 50% 50%;
  border:none;
  position: absolute;
  right: 1px;
  bottom: 1px;
}

.search_box:after{
content: url(../images/line.png);
position: absolute;
left: 150px;
}

#search{
  width: 150px;
  border: none;
  position: absolute;
  bottom: 1px;
}

.slides{
  background-image: url(../images/first_slide.png); 
  background-position: 50% 90%;
  height: 500px;
  position:relative;
  padding-top: 5px;
}

.slides ul{
  padding-left: 0;
}
 
.slides_info{
	width: 450px;
}

.slides_info h1 {
  margin: 10px 0 10px 0;
  font-size: 38.5px; 
  text-transform: capitalize;
  font-weight: 400;
  z-index: 10;
}

.slides_info p {
  text-transform: capitalize;
  margin: 5px 0 5px 0px;
  font-size: 18px;
}

.blue_button{
  padding:8px 10px;
  background: #4ea6ca;
  display:block;
  text-transform: uppercase;
  color: #FFFFFF;
  position:relative;
  text-decoration: none;	
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top:30px;
  width: 140px;
  font-size: 13px;
}

.blue_button:after{
  content:"\25BA";
  position: absolute;
  right:10px;
}

.blue_button:hover{
  background:#3AB7EB;
}

.slide-nav{ 
	position:absolute;
	left:15px;
  top: 220px;
	margin:10px;
}

.slide-nav li {
  list-style: none;
  float: left;
  margin-right: 10px;
}

.slide-nav > li > a {
  color: #FFFFFF;
  padding: 1px;
  font-size: 25px;
  background: silver;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 3px
}

.colors_sec{
position: absolute;
width: 940px;
top:285px;
margin: 0 auto;
padding-left: 0px;
}

.colorbox{
  width: 250px;
  height: 155px;
  padding: 10px 14px;
  text-transform: capitalize;
  border-radius: 6px;
  text-decoration: none;
  color: #FFFFFF;
  float: left;
  position:relative;
  margin: 0 35px 0 0;
}

.colors_sec:last-child{
  margin-right: 0px;
}

.conection{
  width: 26px;
  height: 26px;
  display: inline;
}

.colorbox > p{
font-weight: normal;
margin-bottom: 30px;
margin-top: 10px;
}

.colorbox a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.3em;
  font-weight: normal;
}

 .colorbox .bottom_link{
  margin: 0;
  padding-right: 5px;
  position:absolute;
  bottom:9px; 
  font-size: 12px;
}

.colorbox:hover{
  opacity:1;
}

.bottom_link:hover{
text-decoration: underline;}

.green_bg{
  background-color:#32CD32;
  opacity:0.7;
}

.orange_bg{
  background-color: #FF8C00;
  opacity:0.7;
}

.pink_bg{
  background-color: #ff0084;
  opacity:0.7;
}

h2 {
  font-size:2.5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  margin:40px;
}

.services{
	background: #4682B4;
	height: 350px;
	overflow: hidden;
}

.center{
float: center;
width: 230px;
left: 300px;
}

.nav_icons{
 width: 140px;
 float: left;
 line-height: 1.2;
 margin:0 7px 0 7px;
}

.nav_icons a{
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  text-transform: capitalize;
  display:block;
  font-size: 14px;
}

.services_list p{
 padding-top: 55px;
}

.services_list{
  height: 120px;
  padding-left: 0px;
}

.stimulation{
  background: url(../images/icon1.png)no-repeat top center;
}

.stimulation:hover{
  background: url(../images/icon1-blue.png)no-repeat top center;
}

.experience{
  background: url(../images/icon2.png)no-repeat top center;
}

.experience:hover{
  background: url(../images/icon2-blue.png)no-repeat top center;
}

.monetization{
  background: url(../images/icon3.png)no-repeat top center;
}

.monetization:hover{
  background: url(../images/icon3-blue.png)no-repeat top center;
}

.optimization{
  background: url(../images/icon4.png)no-repeat top center;
}

.optimization:hover{
  background: url(../images/icon4-blue.png)no-repeat top center;
}

.personalization{
  background: url(../images/icon5.png)no-repeat top center;
}

.personalization:hover{
  background: url(../images/icon5-blue.png)no-repeat top center;
}

.transformation{
  background: url(../images/icon6.png)no-repeat top center;
}

.transformation:hover{
  background: url(../images/icon6-blue.png)no-repeat top center;
} 

.news{
	height: 400px;
	background: url(../images/background2.png);
	overflow: auto;
}

.news li{
	float: left;
}

.news h3{
display: inline-block;
padding: 0;
font-size:28px;
font-weight:300;
}

.events-sec{
padding-left:0px;
margin: 0 auto;
width: 940px;
}

.date_container{
  width: 270px;
  height:119px;
  background:rgba(256, 256, 256, 0.4);
  overflow: hidden;
  border-radius: 3px;
  padding:5px;
  margin: 10px;
  float: left;
}

.date_container:hover{
  background: rgba(255, 255, 255, 0.8);
}

.day_box{
  color: #FFFFFF;
  border-bottom: 1px dashed white;
  font-size: 50px;
  width: 69px;
  height: 55px;
}

.month_box{
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 5px;
}

.date{
   float: left;
   background: #49a5bf;
   width: 69px;
   padding-top: 20px;
   margin: 0 10px;
   height: 89px;
   text-align: center;
 }

.date_container a{
  color: black;
  text-decoration: none;
  line-height: 1.5em;
 }

.date_container p{
  margin: 5px;
  font-size: 15px;
}

.event{
text-decoration: none;
color: #FFFFFF;
text-transform: capitalize;
width:300px;
height:140px;
}

.event img{
margin-left: 10px;
}

.picture_box{
   height: 165px;
   padding: 10px;
   background: white;
   font-size: 14px;
   margin: 3px;
 }

.picture_box img{
   float: left;
   margin-bottom: 15px;
 }

blockquote{
float: left;
margin: 0 7px 7px 0;
width: 215px;
line-height: 1.6;
color: black;
text-decoration: none;
padding-left: 10px;
padding-top:5px;
height: 110px;
}

blockquote:before {
 	content: url(../images/quote-grey.png);
 }

 blockquote:after {
 	content: url(../images/quote-grey.png);
 }

.posission {
   border-top: 1px solid black;
   display: inline-block;
   height: 42px;
   padding-top: 10px;
   padding-bottom: 10px;
   width: 95%;
 }

.posission cite{
  text-decoration:uppercase;
  color: #4ea6ca;
 }

.posission p{
  text-transform: capitalize;
  color:black;
  margin:0;
  font-size: 12px;
 }

.posission img{
  float: right;
  margin-top: 0;
  padding: 0;
}

.medium_box{
   height: 185px;
   padding-left: 10px;
   background: white;
   font-size: 14px;
   margin-left:3px;
   display: inline-block;
   margin-top: 6px;
}

.medium_box blockquote{
width: 180px;
} 

.small_box {
	display: inline-block;
	margin: 5px;
	width: 106px;
	margin-bottom: 0;
}

.success_stories{
	background: #C0C0C0;
	height: 400px;
}

.wrap{
	width: 360px;
	margin-top:5px;
	padding: 1px;
	float:left;
}

.wrap2{
	width: 237px;
	display: inline-block;
	margin-top:5px;

}

footer .center_page  ul{
  display: inline-block;
  padding: 0; 
}

footer> .center_page > ul> li {
  float:left;
}

footer> .center_page > ul> li a{
	color: white;
	text-decoration: none;
	display: block;
	width: 202px;
	text-align: left;
	font-size:14px;
	text-transform: capitalize;
	line-height:1.5em;
	margin-left: 15px;
}

footer>.center_page>ul>li a:hover{
text-decoration: underline;
}

h3{
	text-transform: uppercase;
	size:14px;
	margin: 15px;
  font-weight: 400;
}
 footer{
 	background: black;
 	display: relative;
 	overflow:auto;
  height: 300px;
 }
.latest_press{
   display: inline-block;
	width: 250px;
	background: #708090;
	padding:5px;
	position: absolute;
    right: 0;
    top:0;
    height: 289px;
}

.latest_press h3{
	color: #3195c9;
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
    width: 230px;
}

.date_footer_container{
  overflow: hidden;
  border-bottom: 1px solid #C0C0C0;
  text-transform: capitalize;
}

.day_box_footer{
  color: #FFFFFF;
  margin: 0px;
  text-align: center;
  font-size: 40px;
}

.month_box_footer{
  color: #FFFFFF;
  text-align: center;
  margin-top: 5px;
}

.date_footer{
   display: inline-block;
   float: left;
   width: 60px;
   padding: 2px;
   margin: 10px;
 }

.date_footer_container a{
  color: white;
  text-decoration: none;
 }
 .signUp_box{
  width: 200px;
  height: 20px;
  border-radius: 5px;
  position: relative;
  display: block;
  margin: 0 auto;
}

.signUp_button{
  width: 60px;
  height: 20px;
 position: absolute;
 right: 2px;
 margin-top: 3px;
 background: #3195c9;
 color:white;
}

.social{
	margin-top: 45px;
}
